:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: rgba(255, 255, 255, 0.87);
  --card-bg: #2f2f2f;
  --card-bg-hover: #444444;
  --card-bg-hover-hover: #555;
  --text-muted: #bbb;
  --text-muted-hover: #ddd;
  --highlight: #646cff;
  --highlight-hover: #747bff;
  --bad: #d85a5c;
  --good: #a1cc74;
  --red: #e14649;
  --villager: #f1e3ac;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  padding: 24px;
  background-color: var(--card-bg);
  border-radius: 12px;
}

.align-right {
  text-align: right !important;
}

.hidden {
  display: none;
}

input[type='checkbox'],
button {
  cursor: pointer;
}

button {
  border: none;
}
button:disabled {
  cursor: not-allowed;
}

.button {
  border-radius: 20px;
  padding: 0 25px;
  line-height: 38px;
  font-size: 14px;
  color: var(--text);
  font-family: 'Open Sans';
  font-weight: 600;
  transition: background-color 250ms;
}
.button-primary {
  background-color: var(--highlight);
}
.button-primary:hover {
  background-color: var(--highlight-hover);
}
.button-cancel {
  background-color: var(--red);
}
.button-cancel:hover {
  background-color: var(--bad);
}
