:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: rgba(255, 255, 255, 0.87);
  --card-bg: #2f2f2f;
  --card-bg-hover: #444444;
  --text-muted: #bbb;
  --text-muted-hover: #ddd;
  --highlight: #646cff;
  --highlight-hover: #747bff;
  --bad: #d85a5c;
  --good: #a1cc74;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #213547;
    background-color: #ffffff;
  }
}

.card {
  padding: 24px;
  background-color: var(--card-bg);
  border-radius: 12px;
}

.align-right {
  text-align: right !important;
}

.hidden {
  display: none;
}

input[type='checkbox'] {
  cursor: pointer;
}
